{% load static %}
{% load static tailwind_tags %}
<!doctype html>
<html lang="en" class="{% if is_dark_theme %}dark{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}{%endblock%}</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/26730bb8f4.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'parser_app/images/favicon/favicon.svg' %}">
    <style>
      a:link {
          text-decoration: none;
      }
      a:hover {
          text-decoration: none;
      }
    </style>
</head>
  <body class="bg-gray-50 dark:bg-slate-600 text-black dark:text-gray-50">
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pb-1 pt-3 mb-3 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <img src="{% static 'parser_app/images/front/Logo.svg' %}" style="width: 150px; height: auto" alt="">
        </a>
        <div class="col-md-3 text-center">
          {% if request.get_full_path == '/child_questions/'%}<a href="{% url 'index' %}"><button type="button" class="btn btn-outline-primary me-2">Show adult questions</button></a> {% endif %}
          {% if request.get_full_path == '/'%}<a href="{% url 'child_questions' %}"><button type="button" class="btn btn-outline-primary me-2">Show children questions</button></a> {% endif %}
        </div>  
          <div class="col-md-3 text-end">
            {% if is_dark_theme %}
              <a href="{% url 'change_theme' %}" class="text-decoration-none">
                <button type="button" class="btn btn-secondary me-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-high" viewBox="0 0 16 16">
                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                  </svg>
                </button>
              </a>
            {% else %}
              <a href="{% url 'change_theme' %}" class="text-decoration-none">
                <button type="button" class="btn btn-outline-secondary me-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
                    <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"/>
                  </svg>
                </button>
              </a>
            {% endif %}
            <a href="{% url 'support' %}"><button type="button" class="btn btn-warning me-2">Help</button></a>
            {% if request.user.is_authenticated %}<a href="{% url 'profile' %}"><button type="button" class="btn btn-primary me-2">Profile</button></a>{% endif %}
            {% if request.user.is_anonymous %}<a href="{% url 'login' %}"><button type="button" class="btn btn-primary me-2">Sign in</button></a>{%endif%}
            {% if request.user.is_anonymous %}<a href="{% url 'register' %}"><button type="button" class="btn btn-success me-2">Register</button></a>{%endif%}
            {% if request.user.is_authenticated %}<a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">Выйти</button></a>{% endif %}
          </div>
      </header>
    </div>
    <div class="container">
        {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
      {% endif %}
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>    <script>
      $(document).ready(function(){
  window.setTimeout(function() {
    $(".alert").fadeTo(300, 0).slideUp(500, function(){
        $(this).remove();
    });
  }, 5000);
  });
  </script>
  </body>
</html>