{% extends 'parser_app/base.html' %}

{% block title %}Lexical Questions: Child{% endblock %}
{%block content%}
      <div class="container">
        <div class="row pt-3 pb-4">
          <div class="col-md-5 mx-auto">
            <form class="form_control" method="post">
              {% csrf_token %}
              <div class="input-group">
                <input
                  class="form-control border-end-0 border rounded-pill"
                  type="text"
                  placeholder="Enter the word or phrase"
                  name="word_input"
                />
                <span class="input-group-append">
                  <button
                    class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5"
                    type="submit"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="container" id="list_string">
        <div class="row" id="list_string">
          {% for post in title_list %} {% autoescape off %}
          <h5 class="text-centre" id="list_string">{{ post.title }}</h5>
          {% endautoescape %} {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
