{% extends 'parser_app/base.html' %}

{% block title %}Lexical Questions{% endblock %}
{%block content%}
  <div class="row pt-3 pb-4" >
    <div class="col-md-5 mx-auto">
      <form class="form_control" method="post">
        {% csrf_token %}
        <div class="input-group">
            <input class="form-control border-end-0 border rounded-pill" type="text" placeholder="Enter the word or phrase" name="word_input">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
      </form>
    </div>
</div>
</div>
</div>
<div class="container" id="list_string">
    <div class="row" id="list_string">
        {% if dictionary_definition|length > 0 %} 
          <div class="shadow p-4 mb-5 bg-body rounded container">
            {% for definition in dictionary_definition%}
              <h4 class="pt-3 pb-3">{{ definition.definition }}</h4>
            {% endfor %}
            {% if dictionary_examples|length > 0 %} 
              <br/>
              {% for definition in dictionary_examples%}
                <h7 class="text-center pt-3 pb-3">&#8901; {{ definition.dictionary_examples }}</h4><br/>
              {% endfor %}
            {% endif %}
          </div>
        {% endif %}
        {% if title_list|length > 0 %} 
          {% for post in title_list %}
            {% autoescape off %}
              <h5 id="list_string">{{ post.title }}</h5>
            {% endautoescape %}
          {% endfor %}
        {% endif %}
        {% if dictionary_definition|length == 0 %}
          {% if title_list|length == 0 %}
            <div class="text-centre">
              <h4 class="pt-3 pb-3">No results found, try another word</h4>
            </div>
          {% endif %}
        {% endif %}

    </div>
</div>

{% endblock %}