<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lexical Questions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/26730bb8f4.js" crossorigin="anonymous"></script>
    <style>
    body {background: #f4f4f4;}
    </style>
</head>
  <body>
    <div class="container">
      <div class="container">
          <nav class="navbar">
              <a class="navbar-brand" href="{% url 'index' %}">Lexical Questions</a>
          </nav>
      </div>
      <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
          <div class="col-md-6 py-4">
            <form class="form_control" method="post">
              <div class="form">
                {% csrf_token %}
                <input type="text" class="form-control form-input" placeholder="Enter the word or phrase" name="word_input">
              </div>
            </form>
          </div>

        </div>
      </div>
      {% comment %} <center><div class="spinner-border text-secondary mt-3" id="spinner_list" role="status">
        <span class="visually-hidden">Loading...</span>
      </div></center> {% endcomment %}
      {% load highlight_word %}
      <div class="container" id="list_string">
          <div class="row" id="list_string">
              {% for post in title_list %}
                {% comment %} {{ post.title|highlight_word }} {% endcomment %}
                {% comment %} {{ post.title|replace(f'{word_input}', f'<h5><u>{word_input}</u></h5>')}} {% endcomment %}
                  <h5 class="text-centre" id="list_string">{{ post.title|highlight_word(word_input) }}</h5>
              {% endfor %}
          </div>
      </div>
    </div>
    {% comment %} <script>
      $(document).ready(function(){
        $("#spinner_list").hide();
        $(".form_control").submit(function(event){
            event.preventDefault();
            $("#list_string").hide();
            $("#spinner_list").show();
            $.ajax({
                url: "{% url 'index' %}",
                method: "POST",
                data: {
                    word_input: $(".form-control").val(),
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                },
                success: function(response){
                    $("#spinner_list").hide();
                    $("#list_string").show();
                    $("#list_string").html(data);
                }
            });
        });
    });
    </script> {% endcomment %}




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>