{% extends 'parser_app/base.html' %}

{% block title %}Lexical Questions: Login{% endblock %}
{%block content%}
  <div class="shadow p-4 mb-5 bg-body rounded">
    <form method="post" action"">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Логин</label>
            <input type="text" class="form-control" name="username" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Пароль</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    </div>

{% endblock %}
