{% extends 'parser_app/base.html' %}

{%block title%}List of your tests{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{% url 'profile' %}">User Profile</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a>Test list</a>
                </li>
            </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <h4 class="text-center">Test list for "{{ user.username }} </h4>
            {% for group_for in request.user.groups.all %}{% if group_for.name == 'Учитель' %}<a href="{% url 'test_create' %}" class="btn btn-success">Add test</a>{% endif %}{% endfor %}
        </div>
    </div>
        {% for test in test_list %}
        <div class="container border border-secondary-subtle mb-3 form-control">
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pb-3 pt-3">
                        <h5 class="card-title">{{ test.description }}</h5>
                        <div class="col-md-3 text-center">
                            {% comment %} <p class="card-text">Contains {{test.count}}</p> {% endcomment %}
                        </div>  
                        <div class="col-md-3 text-end">
                            <a href="{% url 'update_test' test.id %}" class="btn btn-success">Update</a>
                            <a href="#" class="btn btn-primary">Assign test to student</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
</div>

{% endblock %}