{% extends 'parser_app/base.html' %} 
{%block title%}Update test{%endblock%} 
{%block content%}
<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'profile' %}">User Profile</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'test_list' %}">Test list</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a>Update test</a>
            </li>
        </ol>
        </nav>
    </div>
</div>
    <div class="shadow p-4 mb-5 bg-body rounded">
    <h4 class="text-center">Edit Test</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form.as_p }}
        {{formset.management_form}}
        {{formset}}
        <button type="submit" class="btn btn-success">Edit</button>
        <span>{{error}}</span>
    </form>
    </div>
{%endblock%}
